<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

</head>
<body>
<h1>支付宝沙箱测试</h1>
<button  onclick="redirect()">web端 网页版付款</button>

<div>

    <button onclick="tiaoma()">扫码付款</button>
</div>
<button onclick="refund()">退款通道</button>
<button onclick="query()">订单查询通道</button>
</body>

<script>
    function tiaoma() {
        window.location.href="[[@{/tiaoma}]]"
    }
    function redirect() {
        window.location.href="[[@{/webPay}]]"
    }

    function refund() {
        window.location.href="[[@{/webRefund}]]"
    }
    function query() {
        window.location.href = "[[@{/queryPay}]]"
    }
</script>
</html>